.card {
  height: 25dvh;
  width: 30rem;
  position: relative;
  transition: all 1.5s linear;
  transform-style: preserve-3d;
}
.front,
.back {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Lobster", cursive;
  border-radius: 10px;
  position: absolute;
  transition: all 1.5s linear;
}
.front {
  background: linear-gradient(#08aeea, #2af598);
  z-index: 2;
  backface-visibility: hidden;
  transition: all 1.5s linear;
}
.back {
  background: linear-gradient(#f8da61, #ff5acd);
  z-index: 1;
  transform: rotateY(180deg);
}
.container:hover .card {
  transform: rotateY(180deg);
}
