@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f1f5f9;
}

.form-error {
  color: red;
}

.card-footer {
  display: flex;
  gap: 1rem;
}

p.MuiFormHelperText-root.Mui-error,
.css-17slrf3-MuiFormHelperText-root {
  margin: 3px 0 0 !important;
}
